* {text-align: center;}
        
html {height: 100%;}
body {height: 100vh; width: 100vw;}

#header, header {background-color: antiquewhite; height: 20vh;}
#menu, nav {background-color: aqua; width:20vw; float:left; height: 70vh;}
#center, section {background-color: rgb(42, 144, 127); display: inline-block; width:60vw ; height: 70vh;}
#sdie, aside {background-color: brown; float:right; width: 20vw; ; height: 70vh;}
#footer, footer{background-color: chartreuse; clear:both; height: 10vh;}